[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
django-extensions = "*"

[packages]
boto3 = "*"
coverage = "*"
django-storages = "*"
djangorestframework = "*"
django-filter = "*"
django = "*"
gunicorn = "*"
markdown = "*"
mysqlclient = {path = "./mysqlclient-1.4.6-cp38-cp38-win32.whl"}
python-dotenv = "*"
pymysql = "*"
zappa = "*"

[requires]
python_version = "3.8"
